<!DOCTYPE html>
<html>
	<head>

		<!-- META Information -->
		<title>{% if page.permalink != '/' %}{{ page.title }} ~ {% endif %}{{ site.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS Includes -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Germania+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">

		<!-- JS Includes -->
		<script src="https://unpkg.com/jquery@3/dist/jquery.min.js"></script>
		<script type="module" src="/js/main.js"></script>

		<!-- Gallery Plugins -->
		<link rel="stylesheet" href="/js/justifiedGallery/justifiedGallery.min.css" />
		<script src="/js/justifiedGallery/jquery.justifiedGallery.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/lightbox2@2.11.3/dist/css/lightbox.min.css" />
		<script src="https://unpkg.com/lightbox2@2.11.3/dist/js/lightbox.min.js"></script>

	</head>
	<body class="{{ page.layout }}">

		<div class="header">
			<div class="container">
				<a href="/"><h1><mark>{{ site.title }}</mark></h1></a>
				<div class="navigation">
					{% assign pages = site.html_pages | sort: "position" %}
					{% for page in pages %}
						<a href="{{ page.url }}"><mark>{{ page.title }}</mark></a>
					{% endfor %}
				</div>
			</div>
		</div>
		


	
