{% include header.html %}

    {% if page.content != '' %}
    <div class="section">
        <div class="container">
            <div class="content">
                {{ page.content | markdownify }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if page.socialLinks %}
    <div class="section small">
        <div class="container">
            <div class="social-links">
                {% for link in page.socialLinks %}
                    <a href="{{ link.url }}"><i class="{{ link.icon }}"></i></a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if page.listProjects %}
    <div class="section projects">
        <div class="container">
            {% assign projects = site.projects | sort: "date" %}
            {% for project in projects %}
                <div class="project">

                    <div class="metadata">
                        <h2>{{ project.title }}</h2>
                        <div><i>Dir. {{ project.director }}</i></div>
                        <div>{{ project.type }}</div>
                        <div class="links">
                            {% for link in project.links %}
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    {% if project.images.size > 0 %}
                    <div class="images">
                        {% for img in project.images %}
                            <a href="{{ img }}" data-lightbox="{{ project.id }}"><img src="{{ img }}" /></a>
                        {% endfor %}
                    </div>
                    <div class="scrollImages"><i class="fa-solid fa-circle-arrow-right"></i></div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
{% include footer.html %}